{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de cambre{% endblock %}

{% block main %}
    <h1>Ajouter un type de cambre</h1>
    {{ form_start(formCambre) }}
        {{ form_row(formCambre.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formCambre) }}
{% endblock %}
