{% extends 'base.html.twig' %}

{% block title %}Ajouter un type d'insert{% endblock %}

{% block main %}
    <h1>Ajouter un type d'insert</h1>
    <section>
        {{ form_start(formSnowinsert) }}
            {{ form_row(formSnowinsert.nom) }}
            <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
        {{ form_end(formSnowinsert) }}
    </section>
{% endblock %}
