{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}

    {% for message in app.flashes('creation_panier') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <section>
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">Erreur sur l'email ou le mot de passe. Veuillez réessayer.</div>
            {% endif %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="bouton" type="submit">
                Se connecter
            </button>
        </form>
        <a href="{{ path('app_forgot_password_request') }}" class="bouton">Mot de passe oublié</a>
        <p>
            Si vous souhaitez créer un compte, suivez ce lien :
            <a href="{{ path('register') }}" class="bouton">Créer un compte</a>
        </p>
    </section>
    
{% endblock %}
