{% extends 'base.html.twig' %}

{% block main %}
<h1>Les différents types de cambre</h1>

<section>
    <h2>Cambre classique</h2>
    <p>Le cambre classique est le profil le plus ancien et le plus répandu dans le snowboard, il est apparu bien avant
        les cambres inversés, hybrides ou W. Ce n'est pas le cambre le plus facile à appréhender mais c'est de loin le
        plus performant. Pour le reconnaître, rien de plus simple. Lorsque votre planche est posée à plat, elle forme un
        arc vers le haut. Vous avez les points de contact avec le sol qui sont proches des spatules et le centre de la
        planche remonte. Le milieu de la planche est le point le plus éloigné du sol. Les cambres classiques sont connus
        pour leur stabilité, leur précision, leur pop et la puissance dans les transmissions d'énergie. Ils offrent
        d'excellentes performances en carving. Ils tiennent bien à haute vitesse et conviennent bien aux riders
        expérimentés. En revanche, un cambre classique rend la planche beaucoup moins tolérante et est plus propice à la
        faute de carre. Il est donc moins adapté aux riders débutants.
    </p>
</section>

<section>
    <h2>Cambre inversé</h2>
    <p>Le cambre inversé a apporté beaucoup à l'industrie du snowboard. Aussi connu sous le nom de cambre banane, il est
        à l'opposé du cambre traditionnel. Au lieu d'avoir le milieu de la planche qui remonte, c'est l'inverse. Le
        point le plus bas est au centre de la planche tandis que les deux spatules remontent et ne touchent pas la
        neige. Il y a beaucoup d'avantages à rider un cambre inversé. Les points de contact étant relevés, les fautes de
        carre sont plus rares, la board est plus tolérante et plus joueuse. Les virages sont plus faciles à déclencher
        et la planche reste plus naturellement en surface lorsque vous ridez en profonde. Les cambres inversés sont
        aussi très populaires dans le milieu du freestyle. Joueurs and tolérants, ils sont parfaitement adaptés au jib
        et press en tout genre.
    </p>
    <p>En revanche, le cambre inversé n'est pas aussi stable qu'un cambre traditionnel à haute vitesse. Il sera
        également moins réactif, moins nerveux et moins précis. On ne peut pas vous dire qu'un cambre inversé est mieux
        ou moins bien qu'un cambre traditionnel. Chacun offre son lot de caractéristiques, à vous de choisir celui qui
        vous convient le mieux.
    </p>
</section>

<section>
    <h2>Cambre plat</h2>
    <p>Le cambre plat, c'est l'entre-deux, le compromis entre cambre inversé et cambre classique. Aussi appelé cambre
        zéro, votre planche est complètement plate du nose au tail. Le cambre plat vous offrira plus d'accroche, plus de
        réactivité et plus de stabilité qu'un cambre inversé tout en étant plus tolérant, plus joueur et plus facile à
        rider qu'un cambre traditionnel.
    </p>
    <p>Le cambre plat c'est la bonne option si vous changez de terrain plusieurs fois dans la journée. Si vous aimez
        naviguer de la piste au park en coupant par la peuf, vous pouvez envisager ce type de profil.
    </p>
</section>

<section>
    <h2>Cambre W</h2>
    <p>Le cambre W aussi appelé cambre hybride, medley ou mixte, est une combinaison de rockers et de cambre. Si l'on
        peut dire que le cambre plat diminue les défauts des cambres classiques et inversés, le cambre W maximise leurs
        avantages. En effet, vous avez un vrai cambre sous vos pieds ce qui augmente fortement la réactivité et le pop
        de la board et on retrouve 3 zones de rocker (ou en cambre inversé) en nose, en tail et entre les pieds. Ces
        sections optimisent le coté joueur de la planche, sa tolérance et sa portance en poudreuse.
    </p>
    <p>Le cambre W est votre meilleure option si vous voulez profiter des avantages de tous les cambres.
        
    </p>
</section>

<section>
    <h2>Cambre Rocker</h2>
    <p>Le cambre Rocker est aussi connu sous le nom de Camrock. C'est le dernier profil de notre sélection et comme
        l'indique son nom, il est composé de deux rockers, un en nose, un en tail, et d'un cambre classique entre les
        inserts. Contrairement au cambre W, vous n'avez pas de cambre inversé entre les pieds ce qui rend le pivot un
        peu plus difficile.
    </p>
    <p>En revanche, cette longue section de cambre offre plus de stabilité, plus de réactivité et plus de pop. Le
        Camrock, c'est la bonne option si vous voulez avoir les sensations fluides d'un rocker, notamment en poudre, et
        l'accroche et la nervosité d'un cambre classique. C'est un profil très polyvalent utilisé sur tous les types de
        terrains.
    </p>
</section>

{% endblock %}