{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset("css/home/home.css") }}">
{% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_index') }}" id="admin">Accéder à votre espace administrateur</a>
    {% endif %}
    <a href="{{ path('snowboards_index')}}">
        <section id="section-snowboards">
            <h2 class="titre_section">Snowboards</h2>
        </section>
    </a>
    <a href="">
        <section id="section-splitboard">
            <h2 class="titre_section">Splitboard</h2>
        </section>
    </a>
    <a href="">
        <section id="section-polyfreeride">
            <h2 class="titre_section">Polyvalent freeride</h2>
        </section>
    </a>
    <a href="">
        <section id="section-freeride">
            <h2 class="titre_section">Freeride</h2>
        </section>
    </a>
    <a href="">
        <section id="section-polyfreestyle">
            <h2 class="titre_section">Polyvalent freestyle</h2>
        </section>
    </a>
    <a href="">
        <section id="section-freestyle">
            <h2 class="titre_section">Freestyle</h2>
        </section>
    </a>
    <a href="">
        <section id="section-carving">
            <h2 class="titre_section">Carving</h2>
        </section>
    </a>
    <a href="">
        <section id="section-poudreuse">
            <h2 class="titre_section">100% poudreuse</h2>
        </section>
    </a>

{% endblock %}
{% block javascripts %}
    <script>
        window.axeptioSettings = {
        clientId: "637cd286c35f1714c1848bde",
        cookiesVersion: "snowboards-area-fr",
        };
        (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}