{% extends 'base.html.twig' %}

{% block title %}Shape{% endblock %}

{% block main %}
    <h1>Les différents types de shape</h1>
    <section>
        <h2>Shape Twin</h2>
        <p>
            Les shapes Twin ou twin-tip ou true twin sont les shapes les plus communs sur les boards freestyle. Une planche twin est une planche 100% symétrique. Si vous pouviez la plier en deux, le nose se superposerait parfaitement au tail, tout comme les inserts. Le flex est homogène tout le long de la board. S'il n'y avait pas de déco, vous ne pourriez pas discerner l'avant de l'arrière.
        </p>
        <p>
            Ces planches sont faites pour rider aussi bien en switch qu'en regular, d'où leur comportement freestyle. Elles sont parfaites pour vos sessions park et street. Rentrer un 5-4 ou poser un joli nose press devient beaucoup plus facile avec une board twin. Elles sont plus agiles et plus joueuses.
        </p>
    </section>
    <section>
        <h2>Shape twin directionnel</h2>
        <p>
            Le shape twin directionnel, c'est un shape twin adapté à la pratique all-mountain. En d'autres termes, on est sur une forme de planche symétrique comme une twin avec nose et tail identiques, mais les inserts (position des fixations) sont décalés vers l'arrière. Ceci permet d'obtenir de meilleures performances sur neige dure et poudreuse, et aussi plus de maniabilité. Si ce type de shape est conçu pour être principalement ridé en marche avant, vous pouvez parfaitement faire un peu de switch de temps en temps. Ce sera le shape le plus polyvalent et c'est la raison pour laquelle on le retrouve principalement sur les planches all-mountain.
        </p>
        <p>
            On retrouve de nombreuses variations au sein des shapes twin directionnel. Il y aura par exemple des flex asymétriques, avec des noses plus souples et/ou des tails plus rigides. Plus récemment, on a vu apparaître le Volume twin qui est encore une autre variante. Pour ne pas vous perdre, retenez le principe du shape Twin Directionnel qui se veut être le plus polyvalent.
        </p>
    </section>
    <section>
        <h2>Shape directionnel</h2>
        <p>
            Le shape directionnel, c'est le shape le plus freeride. Tout comme les twins directionnels, les inserts sont souvent décalés sur l'arrière pour vous permettre de mettre plus de poids à cet endroit et ce de manière plus naturelle. Généralement, un shape directionnel offre à la planche un nose plus long et/ou plus large (parfois même pointu) tandis que le tail est souvent plus court et plus rigide. Le nose plus large donne plus de portance à la planche et vous aide à rester en surface sans effort. Le tail plus ferme donne un comportement plus agressif à la planche avec une conduite plus précise. Le fait qu'il soit plus court l'aide à s'enfoncer en poudreuse permettant de mieux lever le nose.
        </p>
        <p>
            Quelques snowboards ont ce qu'on appelle un swallow tail ou tail en queue de pie. Cette forme bien particulière améliore encore la maniabilité en poudreuse et donne une sensation de fluidité plus importante. On se rapproche des sensations en surf. En revanche, ce genre de shape est assez peu compatible avec du switch ou du freestyle. Un shape directionnel est conçu pour être ridé en goofy ou en regular, mais pas les deux à la fois !/
        </p>
    </section>
    <a href="javascript:history.go(-1)" class="btn btn-info btn-sm">Retour page précédente</a>
{% endblock %}