{% extends 'base.html.twig' %}

{% block title %}Ajouter un genre{% endblock %}

{% block main %}
    <h1>Ajouter un genre</h1>
    {{ form_start(formGenre) }}
        {{ form_row(formGenre.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formGenre) }}
{% endblock %}
