{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block main %}
    <section>
        <h1>Politique de confidentialité</h1>
        <p>Chez Snowboards Area, nous protégeons les données confidentielles de nos clients et de nos visiteurs à 100%. Les membres de
            l’équipe Snowboards Area sont également des consommateurs comme vous, clients de sites internet. C’est pour cette raison
            que nous sommes sensibilisés à la confidentialité des données.</p>
        <p>Si vous avez une question concernant notre politique de protection des données, n’hésitez pas à nous envoyer un
            e-mail à notre Délégué à la Protection des Données (rgpd@snowboards-area.fr).</p>
        <p>La société Snowboards Area, située au 0 route de la montagne et propriétaire du site Snowboards Area, est le responsable
            de traitement.</p>
        <p>Snowboards Area est susceptible de faire évoluer cette politique de confidentialité suivant l’évolution de ses services et
            des obligations légales.</p>

        <h2>Comment et quelles sont les données personnelles collectées et traitées par Snowboards Area ?</h2>
        <p>Snowboards Area est susceptible de collecter, traiter et conserver les données personnelles suivantes :
        <ul>
            <li>Nom, prénom</li>
            <li>Coordonnées (adresse postale, adresse email)</li>
            <li>Date de naissance</li>
            <li>Historique d’achat</li>
        </ul>
        </p>

        <p>Ces données sont collectées sur notre site internet.</p>

        <h2>Pourquoi Snowboards Area traite vos données ?</h2>
        <p>La collecte de données personnelles réalisée par Snowboards Area est réalisée afin de répondre à plusieurs finalités :
        <ul>
            <li>Expédition des produits commandé</li>
            <li>Réclamation auprès du Service Après-Vente (remboursement, garantie produit…)</li>
            <li>Paiement sur le site : Les paiements par Carte Bancaire sont entièrement sécurisés par notre prestataire Stripe,
                membre du GIE CB et certifié PCI DSS, répondant ainsi à des normes strictes sur la sécurité des données
                bancaires</li>
        </ul>
        </p>

        <h2>Avec qui Snowboards Area partage vos données ?</h2>

        <p>Nous partageons certaines de vos données avec des sociétés tierces afin de pouvoir exécuter différents services du
            processus de vente :
        <ul>
            <li>Les transporteurs pour la livraison de vos commandes ;</li>
            <li>Les prestataires de paiement ;</li>
        </ul>
        </p>


        <h2>Combien de temps sont conservées vos données ?</h2>
        <p>Nous conservons vos données pendant toute la durée d’activation de votre compte client afin de vous fournir la
            meilleure qualité de service possible. Au bout de 3 ans d’inactivité, nous nous engageons à supprimer vos données
            personnelles.</p>

        <h2>Quels sont vos droits et comment les exercer ?</h2>

        <p>Dans les conditions prévues par le RGPD, vous disposez sur vos données personnelles traitées par Snowboards Area d’un droit
            d’accès, de rectification, d’effacement (ou « droit à l’oubli »), de portabilité et d’opposition.</p>
        <p>Si vous désirez exercer vos droits, vous plaindre ou simplement poser des questions, veuillez envoyer un mail à
            rgpd@snowboards-area.fr.</p>
        <p>En cas de difficulté, vous pouvez contacter l’autorité de contrôle nationale (CNIL en France).</p>
        <a href="javascript:history.go(-1)" class="btn btn-info btn-sm">Retour page précédente</a>
    </section>
{% endblock %}