{% extends 'base.html.twig' %}

{% block title %}Gestion des cookies{% endblock %}

{% block main %}
    <section>
        <h1>Gestion des cookies</h1>
        <p>Vous avez la possibilité à tout moment de modifier vos préférences concernant les cookies liés à notre site en cliquant sur le bouton en bas de page.</p>
        <p>Si vous refusez ces cookies, vous êtes informé que le site deviendra moins performant et les recommandations moins précises.</p>
        <p>Le site Snowboards Area, détenu par la société Snowboards Area, utilise différents traceurs/cookies afin d’améliorer l’expérience utilisateur :</p>
        <p>Cookies nécessaires : ces cookies sont nécessaires afin de faire fonctionner correctement le site internet. Ces cookies permettent :
            <ul>
                <li>Enregistrement du choix de paramétrage des cookies ;</li>
                <li>Enregistrement des paramétrages.</li>
            </ul>
        </p>
        <p>Vous avez la possibilité de paramétrer votre navigateur pour refuser ces cookies par cas par cas.. Vous pouvez également régulièrement supprimer les cookies de votre terminal via votre navigateur.</p>
        <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>
        <p>Cookies analytiques et statistiques : Ces cookies permettent à Snowboards Area :
            <ul>
                <li>De mieux comprendre l’usage de son site internet via le comportement des visiteurs afin d’optimiser le site et de réaliser des statistiques;</li>
                <li>De déterminer si le visiteur a visité le site auparavant ou s’il s’agit d’un nouveau visiteur</li>
            </ul>
        </p>
        <p>Snowboards Area utilise les services de Google Analytics et Google Tag Manager.</p>
        <p>Vous pouvez vous opposer à ces cookies via notre gestionnaire de cookies ci-dessous.</p>
        <a href="javascript:openAxeptioCookies()" class="btn btn-info btn-sm">Préférences en matière de cookies</a>
    </section>
{% endblock %}