{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe{% endblock %}

{% block main %}
    <p>
        Si un compte correspondant à votre email existe, un email vous est envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email merci de vérifier dans le dossier spam de votre boîte mail, sinon<a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}
