h2 {
    font-size: 1.5rem !important;
    color: var(--couleur2) !important;
}
h4 {
    width: fit-content !important;
    margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 0.5vh;
    font-size: 1rem !important;
    border-bottom: 1px solid var(--couleur2);
}