{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de shape{% endblock %}

{% block main %}
    <h1>Ajouter un type de shape</h1>
    {{ form_start(formShape) }}
        {{ form_row(formShape.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formShape) }}
{% endblock %}
