{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<div class="container">
    {# <form action="{{ path('checkout') }}" method="POST">
        <button type="submit" class="btn btn-primary mt-5 mb-5 w-50">Payer</button>
    </form> #}
</div>
{% endblock %}
