{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}

{% block body %}
<div class="container">
    <h1>Merci pour votre commande !</h1>
    <p>
      La commande a bien été prise en compte
      Si vous avez des question merci de nbous contacter 
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>    
</div>
{% endblock %}