section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left !important;
    margin: 5vh auto;
}
article {
    width: 60%;
    margin-bottom: 2vh;
}
h3 {
    border-bottom: 1px solid var(--couleur2);
    padding-bottom: 1vh;
}

.bouton {
    grid-row: 4;
    grid-column: 2;
    margin-top: 5vh;
}
.retour {
    grid-column: 1;
}
.bouton-suppr {
    grid-column: 3;
}