<section>
    <h1>Bonjour Mr/Mme {{ contact.nom }}</h1>
    <p>Votre demande de contact du {{ contact.createdAt|date("Y-m-d à H:i:s") }} à bien été pris en compte.</p>
    <p>Nous reviendrons vers vous dans les plus bref délais</p>
</section>