<section>
    <h2>Demande de contact</h2>
    <p>
        Vous avez reçu un message depuis le formulaire de votre site:<br>
        Nom : {{ contact.nom }}<br>
        Prénom : {{ contact.prenom }}<br>
        Email : {{ contact.email }}<br>
        Message : {{ contact.message }}
    </p>
</section>