{% extends 'base.html.twig' %}

{% block title %}Ajouter une marque{% endblock %}

{% block main %}
    <h1>Ajouter une marque</h1>
    <section>
    {{ form_start(formMarque) }}
        {{ form_row(formMarque.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formMarque) }}
    </section>
{% endblock %}
