{% extends 'base.html.twig' %}

{% block title %}Ajouter un niveau{% endblock %}

{% block main %}
    <h1>Ajouter un niveau</h1>
    <section>
    {{ form_start(formNiveau) }}
        {{ form_row(formNiveau.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formNiveau) }}
    </section>
{% endblock %}
