{% extends 'base.html.twig' %}

{% block title %}Ajouter un programme{% endblock %}

{% block main %}
    <h1>Ajouter un programme</h1>
    {{ form_start(formProgramme) }}
        {{ form_row(formProgramme.nom) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
    {{ form_end(formProgramme) }}
{% endblock %}
