{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('css/form_add_caract.css') }}">
{% endblock %}

{% block title %}Ajouter un programme{% endblock %}

{% block main %}
    <div class="container">
        <h1>Ajouter un programme</h1>

        {{ form_start(formProgramme) }}
            {{ form_row(formProgramme.nom) }}
            <input type="submit" value="Enregistrer" class="bouton">
        {{ form_end(formProgramme) }}
    </div>

{% endblock %}
